body {
    font-size: 16px;
    font-family: 'trade_gothic_next_lt_proRg';
    background-color: #fff;
    overflow-x: hidden;
}

.header {
    background-color: #dbdbdb;
    font-family: 'trade_gothic_next_lt_proRg';
    font-size: 30px;
    font-weight: lighter;
    color: #5a636c;
    text-align: left;
    width: 100%;
    height: 61px;
    padding-top: 27px;
    padding-left: 20px;
}

a,
a:hover {
    text-decoration: none;
}

.branding1 {
    position: absolute;
    top: 22px;
    left: 22px;
}

#branding {
    width: 100px;
    height: 88px;
    position: absolute;
    top: 1px;
    right: 22px;
    background-image: url("/img/hippo.png");
}

.divide{
    width:1px;
    background-color:#000;
    height:100%;
    margin-left:336px;
}

.left-content{
    position: absolute;
    top: 88px;
    width: 334px;
    padding-right: 1px;
    height: 100%;
    border-right: 1px solid #5a636c;
    bottom:0;
}

#app {
    overflow: auto;
    width: 100%;
    padding-bottom: 30px;
    height:100%;
}

.title-item-menu:hover {
    background: #12b2bc;
}

.title-item-menu-selected {
    background: #12b2bc;
}

.ul-itens-none,
.list-settings-project {
    display: none;
}

.ul-itens-none {
    width: 100%;
}

.project-list a {
    color: #5a636c;
}

.name-project {
    width: 70%;
    text-align: center;
    float: left;
}

.import-project {
    width: 15%;
    height: 100%;
    float: left;
    text-align: center;
}

.title-item-menu {
    color: #efefef;
    text-decoration: none;
    display: block;
    width: 90%;
    padding-left: 10%;
    height: 45px;
    line-height: 45px;
    position: relative;
    z-index: 0;
    background: #5a636c;
    border-bottom: 1px;
    border-style: solid;
    border-color: #333333;
}

.project-list {
    background: #efefef;
    border: 1px solid #dbdbdb;
    height: 45px;
    color: black;
    width: 75%;
    padding-left: 25%;
    line-height: 45px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    border-right: none;
}

.list-settings-project li a {

}

.import-btn {
    background-image: url(../img/icon_import4.png);
    position: absolute;
    right: 41px;
    text-align: center;
    line-height: 20px;
    top: 11px;
    border: 1px solid #dbdbdb;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 9;
}

.import-btn:hover {
    background-image:url(../img/icon_import5.png);
    background-color:#dbdbdb;
}

.target-edit-btn {
    background-image:url(../img/config.png);
    border:1px solid #cccccc;
    width:20px;
    height:20px;
    cursor:pointer;
    z-index: 9;
    float:right;
    margin-left:5px;
}

.delete-btn {
    background-image:url(../img/icon_delete4.png);
	position: absolute;
	right:10px;
	text-align: center;
	line-height:20px;
	top:11px;
	border:1px solid #5a636c;
	width:20px;
	height:20px;
	cursor:pointer;
	z-index: 9;
}

.delete-btn:hover {
    background-image:url(../img/icon_delete3.png);
    background-color:#5a636c;
}

.update-btn {
    background-image:url(../img/icon_update4.png);
    right:10px;
    border:1px solid #cccccc;
    width:20px;
    height:20px;
    cursor:pointer;
    z-index: 9;
    float:right;
}

.update-btn:hover {
    background-image:url(../img/icon_update3.png);
    background-color:#cccccc;
}

.target-delete-btn,
.access-delete-btn {
    background-image:url(../img/icon_delete4.png);
    border:1px solid #cccccc;
    width:20px;
    height:20px;
    cursor:pointer;
    z-index: 9;
    margin-left: 5px;
    float: right;
}

.icon-delete-btn, .splash-delete-btn, .permit-delete-btn {
    background-image:url(../img/icon_delete4.png);
    border:1px solid #cccccc;
    width:20px;
    height:20px;
    cursor:pointer;
    z-index: 9;
    float:right;
}

.target-edit-btn:hover {
    background-color:#cccccc;
}

.target-delete-btn:hover,
.access-delete-btn:hover {
    background-image:url(../img/icon_delete3.png);
    background-color:#cccccc;
}

.icon-delete-btn:hover, .splash-delete-btn:hover, .permit-delete-btn:hover {
    background-image:url(../img/icon_delete3.png);
    background-color:#cccccc;
}

.new-project {
	display: block;
    background-image:url(../img/icon_add4.png);
	position: absolute;
	right:10px;
	text-align: center;
	line-height:20px;
	top:11px;
	border:1px solid #dbdbdb;
	width:20px;
	height:20px;
	cursor:pointer;
	z-index: 9;
}

.new-project:hover {
    background-image:url(../img/icon_add5.png);
    background-color:#dbdbdb;
}

.open-project {
    display: block;
    background-image:url(../img/open_white.png);
    position: absolute;
    right:38px;
    text-align: center;
    line-height:20px;
    top:11px;
    border:1px solid #dbdbdb;
    width:20px;
    height:20px;
    cursor:pointer;
    z-index: 9;
}

.open-project:hover {
    background-image:url(../img/open.png);
    background-color:#dbdbdb;
}

.arrow-right-list-project{
    background-image: url(../img/right-arrow.png);
    position: absolute;
    left: 10px;
    text-align: center;
    line-height: 20px;
    top: 11px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 9;
    display:block;
}

.arrow-down-list-project{
    background-image: url(../img/down-arrow.png);
    position: absolute;
    left: 10px;
    text-align: center;
    line-height: 20px;
    top: 11px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 9;
    display:none;
}

.icon-project-list{
    text-align: center;
    float:left;
    top: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 9;
    display:block;
    margin:12px;
}

.delete-btn {
    background-image: url(../img/icon_delete4.png);
    position: absolute;
    right: 10px;
    text-align: center;
    line-height: 20px;
    top: 11px;
    border: 1px solid #5a636c;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 9;
}

.delete-btn:hover {
    background-image: url(../img/icon_delete3.png);
    background-color: #5a636c;
}

.access-delete-btn {
    background-image: url(../img/icon_delete4.png);
    border: 1px solid #cccccc;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 9;
    float: right;
}

.icon-delete-btn,
.splash-delete-btn {
    background-image: url(../img/icon_delete5.png);
    border: 1px solid #cccccc;
    width: 15px;
    height: 15px;
    cursor: pointer;
    z-index: 9;
    float: right;
}

.access-delete-btn:hover {
    background-image: url(../img/icon_delete3.png);
    background-color: #cccccc;
}

.icon-delete-btn:hover,
.splash-delete-btn:hover {
    background-image: url(../img/icon_delete6.png);
    background-color: #cccccc;
}

.new-project {
    display: block;
    background-image: url(../img/icon_add4.png);
    position: absolute;
    right: 10px;
    text-align: center;
    line-height: 20px;
    top: 11px;
    border: 1px solid #dbdbdb;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 9;
}

.new-project:hover {
    background-image: url(../img/icon_add5.png);
    background-color: #dbdbdb;
}

.footer0{
    height: 30px;
    width: 100%;
    bottom:0;
}

.footer {
    background-image: url(../img/footer-bg.png);
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

#footer-branding {
    background-image: url("/img/bb-footer.png");
    width: 130px;
    height: 30px;
    right: 1px;
    position: absolute;
    margin: 0 auto;
}

/*@font-face {
    font-family: bb;
    src: url(../fonts/TradeGothicNextLTPro-Rg.otf);
}*/

@font-face {
    font-family: 'trade_gothic_next_lt_proRg';
    src: url('../fonts/tradegothicnextltpro-rg-webfont.eot');
    src: url('../fonts/tradegothicnextltpro-rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothicnextltpro-rg-webfont.woff') format('woff'),
         url('../fonts/tradegothicnextltpro-rg-webfont.ttf') format('truetype'),
         url('../fonts/tradegothicnextltpro-rg-webfont.svg#trade_gothic_next_lt_proRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mytooltip {
    position: absolute;
    height: 20px;
    line-height: 20px;
    padding: 10px 10px;
    min-width: 200px;
    font-size: 14px;
    text-align: center;
    color: black;
    background: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
    top: -13px;
    left: 40px;
    display: none;
}

.myshowedtooltip {
    position: absolute;
    height: 20px;
    line-height: 20px;
    padding: 10px 10px;
    margin-top: 3px;
    min-width: 200px;
    font-size: 13px;
    font-family: 'trade_gothic_next_lt_proRg';
    text-align: center;
    color: black;
    background: #efefef;
    border: 2px solid rgb(96, 96, 96);
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
    top: -13px;
    left: 40px;
    display: block;
}

.test{
    background: #fff;
    border-top: 1px solid #dbdbdb;
    height:44px;
    bottom:45px;


}

.test ul{
    display:inline;

}

.test li{
    width:150px;
    position:absolute;
    margin-bottom: -300px;
}

.test a.title-item-menu{
    border: none;
    width:166px !important;
    height:45px !important;
    text-align:center;
    background-color:#fff;
    color:#12b2bc;
}

.api{
    margin-left:169px;
}

.api .arrow-right{
    margin-left:140px;
}

.test .title-item-menu{
    padding-left: 0;
    padding-bottom: -30px;
}

.arrow-right{
    margin-top:-28px;
    margin-left:142px;
    width:15px;
    height:15px;
    position:absolute;
    float:left;
    background-image:url(../img/arrow_right.png)
}

#list-projects {
    overflow: hidden;
}
