/* BASE WEBWORKS GUI TOOL - @GUSTAVOCOSTAW */

body {
    font-size: 16px;
    font-family: bb;
    background-color: #eff0ef;

}

header {
    font-family: bb;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width:440px;
    height:48px;
    padding-top: 40px;
    margin: auto;
    min-width: 1088px;

}
a,a:hover {
    text-decoration: none;
}
nav {
    position: absolute;
    top: 88px;
    width:334px;
    height:550px;
    margin-top: 1px;
    margin-left: 1px;
    float:left;
}

#branding {
    width: 334px;
    height: 88px;
    position: absolute;
    top: 1px;
    left: 1px;
    background-image: url("/img/branding.png");
}

#app {
    width:100%;
}

.title-item-menu{
    margin-bottom: 1px;
    color:#efefef;
	text-decoration: none;
	display:block;
	width:100%;
	padding-left:30px;
	height:45px;
	line-height: 45px;
	position: relative;
	z-index: 0;
}

.title-item-menu:hover {
    background:#12b2bc;
}

.title-item-menu-selected{
    background:#12b2bc;
}

.ul-itens-none, .list-settings-project {
	display: none;
}
.ul-itens-none{
    width:100%;
}
.project-list a {
	color:#5a636c;
}
.name-project {
	width:70%;
	text-align: center;
	float:left;
}
.import-project {
	width:15%;
	height:100%;
	float:left;
	text-align: center;
}
.title-item-menu{
    margin-bottom: 1px;
    color:#efefef;
	text-decoration: none;
	display:block;
	width:90%;
	padding-left:10%;
	height:45px;
	line-height: 45px;
	position: relative;
	z-index: 0;
	background: #5a636c;
}
.project-list{
	border:1px solid #dbdbdb;
	height:45px;
	color:black;
	width:75%;
	padding-left:25%;
	line-height: 45px;
	position: relative;
	margin-bottom: 1px;
	z-index: 0;
	cursor:pointer;
}
.list-settings-project li a {
	display: block;
	border:1px solid #dbdbdb;
	height:45px;
	color:#5a636c;
	width:60%;
	line-height: 45px;
	background:#dbdbdb;
	padding-left: 40%;
	font-size: 14px;
	margin-bottom: 1px;
}

.import-btn {
    background-image:url(../img/icon_import4.png);
	position: absolute;
	right:41px;
	text-align: center;
	line-height:20px;
	top:11px;
	border:1px solid #dbdbdb;
	width:20px;
	height:20px;
	cursor:pointer;
	z-index: 9;
}

.import-btn:hover {
    background-image:url(../img/icon_import5.png);
    background-color:#dbdbdb;
}

.delete-btn {
    background-image:url(../img/icon_delete4.png);
	position: absolute;
	right:10px;
	text-align: center;
	line-height:20px;
	top:11px;
	border:1px solid #5a636c;
	width:20px;
	height:20px;
	cursor:pointer;
	z-index: 9;
}
.delete-btn:hover {
    background-image:url(../img/icon_delete3.png);
    background-color:#5a636c;
}

<<<<<<< HEAD
.access-delete-btn {
    background-image:url(../img/icon_delete4.png);
    border:1px solid #cccccc;
    width:20px;
    height:20px;
    cursor:pointer;
    z-index: 9;
    float:right;
}

.icon-delete-btn, .splash-delete-btn {
    background-image:url(../img/icon_delete5.png);
    border:1px solid #cccccc;
    width:15px;
    height:15px;
    cursor:pointer;
    z-index: 9;
    float:right;
}

.access-delete-btn:hover {
    background-image:url(../img/icon_delete3.png);
    background-color:#cccccc;
}

.icon-delete-btn:hover, .splash-delete-btn:hover {
    background-image:url(../img/icon_delete6.png);
    background-color:#cccccc;
}

.new-project {
	display: block;
    background-image:url(../img/icon_add4.png);
	position: absolute;
	right:10px;
	text-align: center;
	line-height:20px;
	top:11px;
	border:1px solid #dbdbdb;
	width:20px;
	height:20px;
	cursor:pointer;
	z-index: 9;
}
.new-project:hover {
    background-image:url(../img/icon_add5.png);
    background-color:#dbdbdb;
}

footer{
   font-size:12px;
   margin:2px auto;
   text-align:center;
   clear: both;
   background-color:#efefef;
   height:88px;
}
footer a {
	color:black;
}
footer a:hover {
	text-decoration:underline;
}

@font-face {
    font-family: bb;
    /*src:url(../fonts/TradeGothicNextLTPro-Rg.otf);*/
    src:url(../fonts/TradeGothicNextLTPro-Rg.otf);
}

.mytooltip {
      position: absolute;
      height: 20px;
      line-height: 20px;
      padding: 10px 10px;
      min-width: 200px;
      font-size: 14px;
      text-align: center;
      color: black;
      background: rgb(255, 255, 255);
      border: 4px solid rgb(255, 255, 255);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
      top:-13px;
      left:40px;
	  display:none;
}
