/* <CSS Checkbox & Radio button> */

.check{
    margin-left:10px;
}

.check:first-child{
    margin-top:10px;
}

.check:last-child{
    margin-bottom:10px;
}

.checklist
{
    width:100%;
    height: 200px;
    overflow-y: auto;
    background-color: #dbdbdb;
    font-size: 15px;
    line-height: 15px;
    vertical-align: middle;
    
}

.cr input{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance: none;
}

.check input[type="checkbox"]  {
    display:inline-block;
    width:19px;
    height:19px;
    border: 2px solid #12b2bc;
    vertical-align:middle;
    background-color:#efefef;
    cursor:pointer;
}

.check input[type="checkbox"]:checked {
    background-color:#12b2bc;
    background-image: url(../img/check.png);    
    background-repeat:no-repeat;
    background-position:center;
}

.radio input[type=radio] {
    -webkit-border-radius: 100px;
}

.radio input[type="radio"]  {
    width:19px;
    height:19px;
    border: none;
    vertical-align:middle;
    margin-bottom:7px;
    background-color:#12b2bc;
    cursor:pointer;
}

.radio input[type="radio"]:checked {
    background-image: url(../img/radio.png);
    background-repeat:no-repeat;
    background-position:center;
}

.check label{
   padding-top:50px;
   border:none;
   padding:0;
}

.check label:hover{
    background-color:#dbdbdb;
    color:#55636D;    
}



/* </CSS Checkbox & Radio button> */