<label class="f-label" for="accessList">Access List</label>
<% _.each(widget.access, function(access) { %>
    <div class="f-access-entry">
        <div>
            <label class="f-inline-block f-entry-content" >Origin:</label>
            <p class="f-inline-block"><%= access.origin %></p>
        </div>
        <div>
            <label class="f-inline-block f-entry-content" >Allow subdomains:</label>
            <input class="f-inline-block f-entry-content" type="checkbox" <%=
            access.subdomains === "true" ? "checked" : ""
            %>/>
            <div class="f-inline-block access-delete-btn tooltipstart" data-origin="<%= access.origin %>">
                <div class="mytooltip">Click here to remove this access element</div>
            </div>
        </div>
    </div>
<% }); %>
<div class="f-access-entry">
    <div id="f-new-origin-entry" data-parsley-validate>
        <label class="f-entry-content">Origin:</label>
        <input type="text" id="newOriginInput" class="f-inline-block f-list-input" data-parsley-required="true" data-parsley-minlength="1" data-parsley-accessentry/>
    </div>
    <div>
        <label class="f-inline-block f-entry-content" >Allow subdomains:</label>
        <input id="newOriginSubdomains" class="f-inline-block f-entry-content" type="checkbox"/>
        <div class="wide-button">
            <input id="addAccessBtn" type="button" value="ADD ACCESS"/>
        </div>
    </div>
</div>

