<div id="builder-screen">
    <form>
        <h1><%= widget.id %> Build</h1>
        <label class="f-label" for="buildMode">Build Mode</label>
        <div id="buildMode" class="cr">
            <div class="radio">
                <input type="radio" name="buildMode" value="debug" <% buildSettings.debug ? print('checked') : print('')%>>
                <label>DEBUG MODE</label>
            </div>
            <div class="radio">
                <input type="radio" name="buildMode" value="release" <% !buildSettings.debug ? print('checked') : print('') %>>
                <label>RELEASE MODE</label>
            </div>
        </div>
        <label class="f-label" for="targetType">Install Target</label>
        <div class="cr">
           <select class="f-dropdown" id="targetType" name="type">
                <option value='autodetect'>Autodetect (default)</option>
            <% _.each(targetNamesList, function (targetName) { %>
                 <option value=<%= targetName %>><%= targetName %></option>
            <% }); %>
            </select>
        </div>

        <!--label class="f-label" for="version">APP VERSION</label>
        <div class="ip" name="version">
             <input class="f-input" type="text" value="" >
            .<input class="f-input" type="text" value="" >
            .<input class="f-input" type="text" value="" >
            .<input class="f-input" type="text" value="" >
        </div> <p-->

        <div class="build-passwords">
            <label class="f-label" for="devicePassword">DEVICE PASSWORD</label>
            <div name="devicePassword">
                <input id="devicePassword" class="f-input" type="password" value="<%= passwords.devicePassword %>"/>
            </div>

            <label class="f-label" for="keystorePassword">KEYSTORE PASSWORD</label>
            <div name="keystorePassword">
                <input id="keystorePassword" class="f-input" type="password" value="<%= passwords.keystorePassword %>"/>
            </div>
        </div>

        <div class="button build-buttons">
            <div class="button-arrow">
                <input id="build" type="button" value="BUILD">
            </div>
            <div class="button-arrow">
                <input id="buildAndInstall" type="button" value="BUILD & INSTALL">
            </div>
        </div>

        <label id="build-label" class="f-label" for="build-log">BUILD LOG</label>
        <textarea id="build-log" name="build-log" class="txt-area" rows="10" readonly>
        </textarea>
    </form>

</div>
