<div id="builder-screen">
    <form>
         <div class="build-title">
             <h1><%= widget.id %> Build</h1>
         </div>
         <br /><br />

        <div id="buildMode" class="cr" style="display: table-row">
            <div class="radio" style="display: table-cell;">
                <label><input type="radio" name="buildMode" value="debug" <% buildSettings.debug ? print('checked') : print('')%>>DEBUG MODE</label></div>
            <div class="radio" style="display: table-cell; padding-left: 70px; padding-bottom: 40px;">
                <label><input type="radio" name="buildMode" value="release" <% !buildSettings.debug ? print('checked') : print('') %>>RELEASE MODE</label></div>
        </div>
        <div id="targetType" class="cr" style="display: table-row">
            <div class="radio" style="display: table-cell;">
                <label><input type="radio" name="targetType" value="device" <% buildSettings.device ? print('checked') : print('')%>>DEVICE</label></div>
            <div class="radio" style="display: table-cell; padding-left: 70px; padding-bottom: 40px;">
                <label><input type="radio" name="targetType" value="simulator" <% !buildSettings.device ? print('checked') : print('')%>>SIMULATOR</label></div>
        </div>

        <div class="build-passwords">

        <label class="f-label" for="devicePassword">DEVICE PASSWORD</label>
        <div name="devicePassword">
            <input id="devicePassword" class="f-input" type="password" value="<%= passwords.devicePassword %>"/>
        </div>

        <label class="f-label" for="keystorePassword">KEYSTORE PASSWORD</label>
        <div name="keystorePassword">
            <input id="keystorePassword" class="f-input" type="password" value="<%= passwords.keystorePassword %>"/>
        </div>

        </div>

        <div class="button" style="display: table-row">
            <div class="button-arrow" style="padding-top: 30px; display: table-cell;">
                <input id="build" type="button" value="BUILD">
                <div class="arrow"> </div>
            </div>
            <div class="button-arrow" style="padding-left: 40px; padding-bottom: 40px; display: table-cell;">
                <input id="buildAndInstall" type="button" style="width: 145px;" value="BUILD & INSTALL">
                <div class="arrow" style="margin-left: 145px;"> </div>
            </div>
        </div>

        <label id="build1" class="f-label" for="build-log">BUILDER LOG</label>
        <textarea id="build-log" name="build-log" class="txt-area" rows="10" readonly>
        </textarea>
    </form>

</div>
